<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Index</title>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                        <img id ="Marist-logo" src="https://www.marist.edu/documents/20182/4699195/Inauguration-CollegeSymbol-Seal-570x390.jpg/53e759b9-30b9-4bcd-89c5-e89b8af93b1f?t=1662567050000" alt="Marist">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        Hello there!
                    </h3>
                    <p>Trust yourself and keep going.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




